*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box; 
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #000;

}

img {
  max-width: 100%;
  height: auto;
}

.category-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 30px 15px;

  @media (min-width: 1024px) {
    grid-template-columns: 50% 25%;
    padding: 60px 30px;
  }
}

.category-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 8px rgba(87,71,81,0.3);
  overflow: hidden;
}

.category-card:nth-child(1) {
  @media (max-width: 1023px) {
    display: none;
  }

  @media (min-width: 1024px) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  span {
    font-size: 48px;
  }
}

.category-card:nth-child(2) {
  @media (min-width: 1024px) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.category-card:nth-child(3) {
  @media (min-width: 1024px) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
} 

.category-card:nth-child(4) {
  @media (min-width: 1024px) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.category-card:nth-child(5) {
  @media (min-width: 1024px) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

.category-card__image {
  width: 100%;
  height: 100%;
  transition: transform 0.35s ease-in-out;

  .category-card:hover & {
    transform: scale(1.05);
  }
}

.category-card__link {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  background-color: rgba(0,0,0,0.2);
  transition: all 0.4s ease-in-out;

  span {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #000;
  }

  b {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #a7d659;
  }
}

.category-card__link:hover {
  background-color: rgba(0,0,0,0.4);
}